.version-control {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .validiv {
    display: flex;
    gap: 20px;
  }
  
  .radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, sans-serif;
    user-select: none;
  }
  
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #bbb; 
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .radio-container:hover input ~ .checkmark {
    background-color: #000;
  }
  
  .radio-container input:checked ~ .checkmark {
    background-color: #2196F3; 
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  @media (max-width: 550px) {
    .version-control {
      flex-direction: column;
      align-items: center;
    }
    .validiv {
      flex-direction: column;
      gap: 0;
    }
  }